<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{view/layout}" lang="">

<head>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <script src="/js/signup.js" defer></script>
    <title></title>
</head>
<body>
<section>

<!--    <form>-->
<!--        <div class="form-group">-->
<!--            <label for="exampleInputEmail1">Email address</label>-->
<!--            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
<!--            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="exampleInputPassword1">Password</label>-->
<!--            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
<!--        </div>-->
<!--        <div class="form-group form-check">-->
<!--            <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--            <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Submit</button>-->
<!--    </form>-->
    <form action="/req/login" method="post">
        <h1>Login</h1>
        <div class="dialog-row">
            <label th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-center redText"></label>
        </div>
        <div class="inputbox">
            <ion-icon name="email-outline"></ion-icon>
            <input name="username" id="username"type="name" required>
            <label for="username">username</label>
        </div>
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input name="password" type="password" id="password" required>
            <label for="password">Password</label>
        </div>
        <button>Log in</button>
        <div class="register">
            <p>Don't have a account ?<a href="/req/signup"> Register!!</a></p>
        </div>
    </form>
</section>


</body>
</html>