<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('My Profile', ~{::main}, ~{::link}, ~{::script})}">
<head>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
<section>

    <form action="/req/login" method="post">
        <h1>Login</h1>
        <div class="dialog-row">
            <label th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-center redText"></label>
        </div>
        <div class="inputbox">
            <ion-icon name="email-outline"></ion-icon>
            <input name="username" id="username"type="name" required>
            <label for="username">username</label>
        </div>
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input name="password" type="password" id="password" required>
            <label for="password">Password</label>
        </div>
        <div class="register">
            <p><a href="#">Forget Password ?</a></p>
        </div>
        <button>Log in</button>
        <div class="register">
            <p>Don't have a account ?<a href="/req/signup"> Register!!</a></p>
        </div>
    </form>
</section>


</body>
</html>